// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #006cd6
$secondary = #556e73
$accent    = #9605b0

$positive  = #09bd09
$negative  = #f50000
$info      = #02b4d4
$warning   = #ff7700
